form {
    display: inline;
}
.list-group.panel > .list-group-item {
  border: 4px;
}
.list-group-submenu {
  margin-left:20px;
}
.list-group-item {
    cursor: pointer;
    padding: 4px 8px;
}
.list-group-header {
    padding: 0;
    border: 0;
}
a:hover {
    text-decoration: none;
}
.btn-listbar {
    margin-right: 5px;
    padding: 4px 6px;
    font-size: 12px;
}
.avatar {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #888888;
}
.avatar-small {
    border: 1px solid black;
    border-radius: 5px;
}
.navbar-image {
    padding: 8px 15px;
}