form {
    display: inline;
}
.list-group.panel > .list-group-item {
  border: 4px;
}
.list-group-submenu {
  margin-left: 20px;
}
.list-group-item {
    cursor: pointer;
    padding: 4px 8px;
}
.list-group-header {
    padding: 0;
    border: 0;
}
a:hover {
    text-decoration: none;
}
.btn-listbar {
    margin-right: 5px;
    padding: 4px 6px;
    font-size: 12px;
}
.avatar {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #888888;
}
.avatar-small {
    border: 1px solid black;
    border-radius: 5px;
}
.navbar-image {
    padding: 8px 15px;
}
.badInput {
    border: 2px solid red;
}
.goodInput {
    border: 2px solid green;
}
.modal-center {
    vertical-align: middle;
    margin: 0 auto;
}
.ban-list-item40 {
    width: 40%;
    float: left;
}
.ban-list-item20 {
    width: 20%;
    float: left;
}
.ban-list-header {
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 18px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,63,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,63,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,63,0.75);
    margin-bottom: 10px;
}
.ban-list-header:after {
    clear: both;
    content: "";
    display: table;
}
#banList:after {
    clear: both;
    content: "";
    display: table;
}
.ban-list-group {
    margin: 0;
}
.ban-list-group:after {
    clear: both;
    content: "";
    display: table;
}
#banList {
    padding-bottom: 10px;
}
.ban-list-detail {
    width: 35%;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.05);
}
.login-icon {
    top: 3px;
    position: relative;
}
.user-menu {
    min-width: 100px;
}
.dropdown-menu > li > a:hover {
    cursor: pointer;
}
textarea {
    resize: none;
}
.align-top {
    vertical-align: top;
}