form {
    display: inline;
}
.list-group.panel > .list-group-item {
  border: 4px;
}
.list-group-submenu {
  margin-left:20px;
}
.list-group-item {
    cursor: pointer;
}
.list-group-header {
    padding: 0;
    border: 0;
}
a:hover {
    text-decoration: none;
}
.btn-listbar {
    margin-right: 5px;
}