{% extends "header.html" %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Identifier</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                    <tr>
                        <td>{{ obj.type }}</td>
                        <td><a href="{{ url_for("player_detail", identifier=obj.identifier) }}">{{ obj.identifier }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if current_user.has_permission("web.object.add") %}
            <form action="{{ url_for("list_players") }}" method="post">
                <label for="identifier">Identifier</label>
                <input id="identifier" name="identifier" type="text" />
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="Player">Player</option>
                    <option value="Group">Group</option>
                </select>
                <button>Add Player</button>
            </form>
        {% endif %}
    </div>
{% endblock %}