{% extends "layout.html" %}
{% macro print_permissions(identifier, display, permissions, server_id, allow_removal=false) %}
    <a data-toggle="collapse" data-target="#{{ "server" + server_id | string + identifier }}">
        <div class="list-group-item">
            {% if not allow_removal %}
                <button onclick="event.stopPropagation();
                        location.href='{{ url_for("player_detail", identifier=identifier.rpartition(".")[2]) }}'"
                        class="btn btn-primary btn-listbar">
                    Edit</button>
            {% endif %}
            {{ display }}
        </div>
    </a>
    <div class="collapse list-group-submenu" id="{{ "server" + server_id | string + identifier }}">
        {% for permission in permissions | sort %}
            <div class="list-group-item">
                {% if allow_removal and current_user.has_permission("web.permission.remove") %}
                    <button class="btn btn-primary btn-listbar" onclick="post('{{ url_for("remove_object_permission") }}', {
                            identifier: '{{ obj.identifier }}',
                            node: '{{ permission }}',
                            server_id: '{{ server_id}}' })">Remove</button>
                {% endif %}
                {{ permission }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}s
{% block title %}{{ obj.name }}{% endblock %}
{% block body %}
    <div class="modal fade" id="addServer" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a new server</h4>
                </div>
                <div class="modal-body">
                    <label for="server_name">Server Name</label>
                    <input type="text" id="server_name" name="server_name">
                    <button type="submit" onclick="post_data('{{ url_for("add_server") }}',
                            {'name': $('#server_name').val()}, $('#server'))" data-dismiss="modal">Add Server</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>
            {% if obj.type == "Player" %}
                <img class="avatar" src="{{ obj.avatarUrl }}">
            {% endif %}
            {{ obj.name + " (" + obj.formattedSteamId + ")" }}
        </h2>
        <div id="MainMenu">
            {% set perms = {} %}
            {{ obj.get_permission_heirarchy_by_server(perms) | default("", true) }}
            {% for server_id, identifiers in perms | dictsort %}
                <a data-toggle="collapse" data-target="#{{ "server" + server_id | string }}">
                    <div class="list-group-item">
                            {{ servers.get(server_id, "Unknown Server") }}
                    </div>
                </a>
                <div class="collapse list-group-submenu" id="{{ "server" + server_id | string }}">
                    {% if obj.identifier in identifiers %}
                        {{ print_permissions(obj.identifier, obj.name + " (" + obj.formattedSteamId + ")", identifiers.pop(obj.identifier), server_id, true) }}
                    {% endif %}
                    {% for identifier, permissions in identifiers | dictsort %}
                        {{ print_permissions(identifier, identifier, permissions, server_id) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if current_user.has_permission("web.permission.add") %}
            <form action="{{ url_for("player_detail", identifier=obj.identifier) }}" method="post">
                <label for="node">Node:</label>
                <input name="node" id="node" type="text">
                <label for="server">Server:</label>
                <select name="server" id="server" autocomplete="off"
                        onchange="if (this.selectedIndex == 0) $('#addServer').modal('toggle')">
                    <option>Add new</option>
                    <option disabled>──────────</option>
                    {% set first = true %}
                    {% for server_id, server_name in servers | dictsort %}
                        {% include "server_row.html" %}
                        {% if first %}
                            {% set first = false %}
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-primary">Add permission node</button>
            </form>
        {% endif %}
    </div>
{% endblock %}