{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block body %}
    <div class="container">
        <h2>Settings</h2>
        <form action="{{ url_for("update_settings") }}" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <td>Setting Key</td>
                        <td>Setting Value</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in config.items() %}
                        <tr>
                            <td><label for="{{ key }}">{{ key|replace("_", " ")|title }}</label></td>
                            <td><input type="text" class="input-sm" size="128" maxlength="128" id="{{ key }}"
                                       name="{{ key }}" value="{{ value }}"></td>
                            <td><button class="btn btn-primary btn-sm" onclick="$(this).parent().parent().remove()">Remove</button></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><input type="text" class="input-sm" autocomplete="off"
                                   onkeyup="$(this).parent().parent().find('.settingValue').
                                   attr('name', $(this).val())"></td>
                        <td><input type="text" class="input-sm settingValue" autocomplete="off"
                                   size="128" maxlength="128"></td>
                        <td><button class="btn btn-primary btn-sm" onclick="$(this).parent().parent().remove()">Remove</button></td>
                    </tr>
                    <tr id="end">
                        <td><button class="btn btn-primary" type="submit">Submit Changes</button></td>
                        <td></td>
                        <td><button class="btn btn-primary" type="button" onclick="insertNewSettingsRow()">Add New Value</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}